
@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

html {
  font-size: 14px;
  --scroll-behavior: smooth!important;
scroll-behavior: smooth!important;
}

body {
  font-size: 14px;
  --scroll-behavior: smooth!important;
scroll-behavior: smooth!important;
}

main {
  font-size: 14px;
  --scroll-behavior: smooth!important;
scroll-behavior: smooth!important;
}

.dot{
  color: #FDFD0D;
}